.container {
  max-width: 1000px;
  font-family: "Exo", sans-serif;
  margin: 50px auto 30px;
}
h1,
h2 {
  text-align: center;
}

h1 {
  color: rgb(2, 143, 124);
  font-size: 60px;
  line-height: 20px;
  margin-bottom: 30px;
}

h2 {
  color: #ffcf34fc;
  margin: 40px auto 10px;
  font-size: 50px;
}

h3 {
  text-align: center;
}

.d-flex {
  margin: 50px 50px;
}

.btn-outline-success {
  color: rgb(2, 143, 124);
  border-color: rgb(2, 143, 124);
  margin: 5px;
}

.btn-primary {
  color: #000;
  background-color: #fad765fc;
  border-color: #ffcf34fc;
  display: block;
  margin-bottom: 10px;
}

.tempButton {
  color: #ca0a74;
  background-color: #fff;
  border: 0ch;
}

.text-center {
  margin-top: 50px;
}

.justify-content-center {
  color: #ca0a74;
  text-align: center;
}
.card-body {
  color: rgb(2, 143, 124);
  padding: 0%;
}
.card-title {
  margin: 0%;
}
.btn-primary:hover {
  color: #fff;
  background-color: #ca0a74;
  border-color: #ca0a74;
}
.allDays {
  padding: 10px;
}
ul {
  margin: 0%;
  list-style: none;
  padding: 80px 0px;
}

li::first-letter {
  text-transform: capitalize;
}

.icon {
  margin: 50px;
}

.card-img-top {
  padding: 50px 30px 0px;
}
